<!DOCTYPE html>
<html>
<head>
  <title>BoxOfTricks</title>
  <%= stylesheet_link_tag    "box_of_tricks/application" %>
  <%= javascript_include_tag "box_of_tricks/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
